@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F4EF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #e0e0e0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  line-height: 1.6;
}

/* Reduce spacing between paragraphs */
p {
  margin-bottom: 0.75rem; /* Further reduced from 1rem */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

pre, code {
  font-family: 'Roboto Mono', monospace;
}
